@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
.banner-area{
    width: 100%;
    height: 740px;
    background: url('../img/Rectangle_1.svg') no-repeat;
    background-size: cover;
}
.content-area{
    height: 100%;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;

}
.content-area h1{
    color: #fff;
    font-size: 64px;
    margin-top: -650px;
    /* border: 1px solid red; */
}
.container{
    height: 100%;
    width: 943px;
    padding: 0;
    border: 1px solid red;
}

/*--- Search Box area ---*/
.input{
	border: 0;
	outline: none;
	color: #8b7d77;
}

.search_wrap{
	width: 500px;
	margin: 60px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;
    margin-top: -90px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 18px;
    background-color: #E0E0E0;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #E0E0E0;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: gray;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: black;
	font-size: 18px;
}

.search_wrap.search_wrap_1 .search_box .btn{
	right: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.search_wrap.search_wrap_1 .search_box .input{
	padding-right: 80px;
}


/*--- content area ---*/
.container-section-1{
    margin: 0px;
    height: 70vh;
    display: flex;
    justify-content: center;   
    align-items: center;
}
.container-section-1-setbox{
    /* border: 1px solid red; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 20px;
    justify-content: space-between;
}
.box{
    /* border: 1px solid red; */
    text-align: center;
}
.sec-1-box-1,
.sec-1-box-2,
.sec-1-box-3 {
    margin-top: 20px;
}
.sec-1-box-1 h6{
    font-size: 24px;
    position: relative;
}
.sec-1-box-1 p{
    font-size: 18px;
    position: relative;
}
.sec-1-box-2 h6{
    font-size: 24px;
    position: relative;
}
.sec-1-box-2 p{
    font-size: 18px;
    position: relative;
}
.sec-1-box-3 h6{
    font-size: 24px;
    position: relative;
}
.sec-1-box-3 p{
    font-size: 18px;
    position: relative;
}
.box1-btn{
    margin-top: 25px;
    text-align: center;
    position: relative;
}
.viewagents {
    background: #333333 ;
    color: #F2F2F2;
    text-decoration: none;
    padding: .5rem 1.5rem;
    flex-direction: row;
    font-family: 'Roboto Thin 100', sans-serif;
}
.box2-btn{
    margin-top: 25px;
    text-align: center;
    position: relative;
}
.viewhomes {
    background: #333333 ;
    color: #F2F2F2;
    text-decoration: none;
    padding: .5rem 1.5rem;
    flex-direction: row;
    font-family: 'Roboto Thin 100', sans-serif;
}
.box3-btn{
    margin-top: 25px;
    text-align: center;
    position: relative;
}
.connectnow {
    background: #333333 ;
    color: #F2F2F2;
    text-decoration: none;
    padding: .5rem 1.5rem;
    flex-direction: row;
    font-family: 'Roboto Thin 100', sans-serif;
}