@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    height: 724px;
    width: 1440px;
    background: url(/img2/Rectangle1.svg) no-repeat;
    background-position: center;
    object-fit: cover;
    
}
.top-img {
    background-color: #828282;
    height: 724px;
    width: 1440px;
    /*border: 1px solid #000000;*/
    mix-blend-mode: multiply;
   
}



.container{
    max-width: 944px;
    margin: 0 auto;
    line-height: 18px;
    /*border: 1px solid red;*/
}
.center-img{
    background-position: center;
    object-fit: cover;
}
.textcenter{
    margin-top: -433px;
    margin-left: 64px;
}
.textcenter h1{
    color: #F2F2F2;
    font-size: 64px;
    position: static;
}
.info-textcenter p{
    color: #F2F2F2;
    font-size: 18px;
    font-family: 'Roboto Thin 100', sans-serif;
    position: static;
}
/*-------section1---------*/
.header-st{
    margin-top: 30px;
    margin-left: 250px;
}
.header-st h1{
    font-size: 40px;
}
.info-st{
    margin-top: 24px;
    position: static;
}
.info-st p{
    font-size: 18px;
    font-family: 'Roboto Thin 100', sans-serif;
}
.img1-st{
    margin-top: 70px;
    margin-left: 248px;
}
.img1-st-header {
    margin-top: 20px;
}
.img1-st-header h1{
    font-size: 24px;
}
.img1-st-info {
    margin-top: 15px;
}
.img1-st-info p{
    font-size: 18px;
}

.img2-st{
    margin-top: -570px;
    margin-left: 728px;
}
.img2-st-header {
    margin-top: 20px;
}
.img2-st-header h1{
    font-size: 24px;
}
.img2-st-info {
    margin-top: 15px;
}
.img2-st-info p{
    font-size: 18px;
}

.img3-st{
    margin-top: 70px;
    margin-left: 248px;
}
.img3-st-header {
    margin-top: 20px;
}
.img3-st-header h1{
    font-size: 24px;
}
.img3-st-info {
    margin-top: 15px;
}
.img3-st-info p{
    font-size: 18px;
}

.img4-st{
    margin-top: -570px;
    margin-left: 728px;
}
.img4-st-header {
    margin-top: 20px;
}
.img4-st-header h1{
    font-size: 24px;
}
.img4-st-info {
    margin-top: 15px;
}
.img4-st-info p{
    font-size: 18px;
}
/*-------section2---------*/
.header-nd{
    margin-top: 140px;
    margin-left: 250px;
}
.header-st-nd{
    font-size: 40px;
}

.img1-nd {
    margin-top: 105px;
    margin-left: 400px;
}
.img1-nd-header {
    margin-top: 36px;
}
.img1-nd-header h1{
    font-size: 20px;
}
.img1-nd-info p{
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto Thin 100', sans-serif;
    
}
.img1-nd-info {
    margin-left: -960px;
    margin-top: 25px;
    
}


.img2-nd {
    margin-top: -280px;
    margin-left: 700px;
}
.img2-nd-header {
    margin-top: 36px;
    margin-left: -25px;
}
.img2-nd-header h1{
    font-size: 20px;
}
.img2-nd-info p{
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto Thin 100', sans-serif;
    
}
.img2-nd-info {
    margin-left: -650px;
    margin-top: 25px;   
}


.img3-nd {
    margin-top: -280px;
    margin-left: 1000px;

}
.img3-nd-header {
    margin-top: 36px;
    margin-left: -5px;
}
.img3-nd-header h1{
    font-size: 20px;
}
.img3-nd-info p{
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto Thin 100', sans-serif;
    
}
.img3-nd-info {
    margin-left: -360px;
    margin-top: 25px;   
}
/*-------section3---------*/

.header-rd {
    margin-top: 120px;
    margin-left: 250px;
}
.header-rd h1{
    font-size: 40px;
}

.info-rd p{
    font-size: 18px;
    font-family: 'Roboto Thin 100', sans-serif;
}
.img1-rd{
    margin-top: 80px;
    margin-left: 315px;
}
.img2-rd{
    margin-top: -260px;
    margin-left: 700px;
}
/*------Footer--------*/
footer{
    height: 618px;
    background: url(/img/Rectanglefooter.svg) no-repeat;
    background-position: center;
    object-fit: cover
}
.footer{
    margin-top: 250px;
}
.container-footer{
    border: 1px solid #333333;
    height: 618px;
}
.footer-logo-img{
    margin-top: 100px;
    margin-left: 60px;
}
.footer-logo-name1{
    margin-left: 55px;
    margin-top: 10px;
}
.footer-logo-name1 p{
    color: #F2F2F2;
    font-size: 18px;
}

.footer-logo-name2{
    margin-left: 105px;
    margin-top: -43px;
}
.footer-logo-name2 p{
    font-size: 18px;
    font-family: 'Roboto Thin 100', sans-serif;
    color: #F2F2F2;
}
/*-----------CompanySet-------------*/
.company-set{
    /*border: 1px solid red;*/
    margin-top: -90px;
    margin-left: 290px;
}
.company-set h1{
    font-size: 24px;
    color: #F2F2F2;
}
.company-list p{
    font-size: 16px;
    color: #FFFFFF ;
    opacity: 0.7;
    
}
/*-----------LocationSet-------------*/
.location-set{
    /*border: 1px solid red;*/
    margin-top: -238px;
    margin-left: 510px;
}
.location-set h1{
    font-size: 24px;
    color: #F2F2F2;
}
.location-list p{
    font-size: 16px;
    color: #FFFFFF ;
    opacity: 0.7;
    
}
/*-----------PopularSet-------------*/
.popular-set{
    /*border: 1px solid red;*/
    margin-top: 40px;
    margin-left: 510px;
}
.popular-set h1{
    font-size: 24px;
    color: #F2F2F2;
}
.popular-list p{
    font-size: 16px;
    color: #FFFFFF ;
    opacity: 0.7;
    
}
/*-----------OurSet-------------*/
.our-set{
    /*border: 1px solid red;*/
    margin-top: -456px;
    margin-left: 735px;
}
.our-set h1{
    font-size: 24px;
    color: #F2F2F2;
}
.our-list-head1 h1{
    font-size: 16px;
    color: #FFFFFF ;    
}
.our-list-head1 p{
    font-size: 16px;
    color: #FFFFFF ;
    opacity: 0.7;    
}
.our-list-head2 h1{
    font-size: 16px;
    color: #FFFFFF ;    
}
.our-list-head2 p{
    font-size: 16px;
    color: #FFFFFF ;
    opacity: 0.7;    
}
/*-----------FollowSet-------------*/
.followUS-set{
    /*border: 1px solid red;*/
    margin-top: -286px;
    margin-left: 960px;
}
.followUS-set h1{
    font-size: 24px;
    color: #FFFFFF ;   
}
.followUS-img {
    letter-spacing: 10px;
}
/*-----------Be in know Set-------------*/
.bein-set{
    
    margin-top: 60px;
    margin-left: 960px;
}
.bein-set h1{
    font-size: 24px;
    color: #FFFFFF ;   
}
.bein-set p{
    font-size: 16px;
    color: #FFFFFF ;
    opacity: 0.7;   
}
input[type = inpute-mailbar]{
    background-color: #E0E0E0;
    border: 0px;
    width: 243px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;   
}
.footer-btn1{
    margin-top: -32px;
    margin-left: 260px;
}
.signup{
    text-decoration: none;
    background-color: #E0E0E0;
    color: #333333;
    padding: .5rem 1.5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Roboto Thin 100', sans-serif;
}
/*-----------BottomSet-------------*/
.footerline{
    margin-top: 200px;
    margin-left: 60px;
}
.footer-bottom-text1 {
    margin-top: 5px;
    margin-left: 65px;
}
.footer-bottom-text2 {
    margin-top: -27px;
    margin-left: 1175px;
}
.footer-bottom-text1 h1{
    font-size: 16px;
    color: #FFFFFF;

}
.footer-bottom-text2 h1{
    font-size: 16px;
    color: #FFFFFF;

}

