@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    height: 724px;
    width: 1440px;
    background: url(/img2/Rectangle1.svg) no-repeat;
    background-position: center;
    object-fit: cover;
    
}
.top-img {
    background-color: #828282;
    height: 724px;
    width: 1440px;
    border: 1px solid #000000;
    mix-blend-mode: multiply;
   
}



.container{
    max-width: 944px;
    height: 4700px;
    margin: 0 auto;
    line-height: 18px;
    border: 1px solid red;
}
.center-img{
    background-position: center;
    object-fit: cover;
}
.textcenter{
    margin-top: -433px;
    margin-left: 64px;
}
.textcenter h1{
    color: #F2F2F2;
    font-size: 64px;
    position: static;
}
.info-textcenter p{
    color: #F2F2F2;
    font-size: 18px;
    font-family: 'Roboto Thin 100', sans-serif;
    position: static;
}
/*-------section1---------*/
.header-st{
    margin-top: 30px;
    margin-left: 250px;
}
.header-st h1{
    font-size: 40px;
}
.info-st{
    margin-top: 24px;
    position: static;
}
.info-st p{
    font-size: 18px;
    font-family: 'Roboto Thin 100', sans-serif;
}
.img1-st{
    margin-top: 70px;
    margin-left: 248px;
}
.img1-st-header {
    margin-top: 20px;
}
.img1-st-header h1{
    font-size: 24px;
}
.img1-st-info {
    margin-top: 15px;
}
.img1-st-info p{
    font-size: 18px;
}

.img2-st{
    margin-top: -570px;
    margin-left: 728px;
}
.img2-st-header {
    margin-top: 20px;
}
.img2-st-header h1{
    font-size: 24px;
}
.img2-st-info {
    margin-top: 15px;
}
.img2-st-info p{
    font-size: 18px;
}

.img3-st{
    margin-top: 70px;
    margin-left: 248px;
}
.img3-st-header {
    margin-top: 20px;
}
.img3-st-header h1{
    font-size: 24px;
}
.img3-st-info {
    margin-top: 15px;
}
.img3-st-info p{
    font-size: 18px;
}

.img4-st{
    margin-top: -570px;
    margin-left: 728px;
}
.img4-st-header {
    margin-top: 20px;
}
.img4-st-header h1{
    font-size: 24px;
}
.img4-st-info {
    margin-top: 15px;
}
.img4-st-info p{
    font-size: 18px;
}
/*-------section2---------*/
.header-nd{
    margin-top: 140px;
    margin-left: 250px;
}
.header-st nd{
    font-size: 40px;
}