@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
.banner-area{
    width: 100%;
    height: 742px;
    background: url(/img/Rectangle_1.svg) no-repeat;
    background-size: cover;
}
.content-area{
    height: 100%;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;

}
.content-area h1{
    color: #fff;
    font-size: 64px;
}
.container{
    height: 100%;
    width: 943px;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.container .input{
	border: 0;
	outline: none;
	color: black;
    background-color:#E0E0E0;
    font-family: 'Roboto Thin 100', sans-serif;  

}

/*--- Search Box area ---*/

.search_wrap{
	width: 624px;
	margin: 35px auto;
    margin-top: -30px;

}

.search_wrap .search_box{
	position: relative;
	width: 624px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background:#E0E0E0;;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: gray;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: black;
	font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .btn{
	right: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.search_wrap.search_wrap_1 .search_box .input{
	padding-right: 65px;
}
/*--- content area ---*/
.section-boxset1{
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: space-between;
    position: static;
    padding: 30px;
}
.box1-title h4{
    color: black;
    font-size: 20px;
    text-align: center;
}
.box1-info{
    margin-top: 20px;
}
.box1-info p{
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto Thin 100', sans-serif;
}
.box1-btn{
    margin-top: 20px;
    text-align: center;
}
.viewagents {
    background: #333333 ;
    color: #F2F2F2;
    text-decoration: none;
    padding: .5rem 1.5rem;
    flex-direction: row;
    font-family: 'Roboto Thin 100', sans-serif;
}


.box2-title h4{
    color: black;
    font-size: 20px;
    text-align: center;
}
.box2-info p{
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto Thin 100', sans-serif;

}
.box2-btn{
    text-align: center;
}
.viewhomes {
    background: #333333 ;
    color: #F2F2F2;
    text-decoration: none;
    padding: .5rem 1.5rem;
    flex-direction: row;
    font-family: 'Roboto Thin 100', sans-serif;
}


.box3-title h4{
    color: black;
    font-size: 20px;
    text-align: center;
}
.box3-info p{
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto Thin 100', sans-serif;
}
.box3-btn{
    text-align: center;
}
.connectnow {
    background: #333333 ;
    color: #F2F2F2;
    text-decoration: none;
    padding: .5rem 1.5rem;
    flex-direction: row;
    font-family: 'Roboto Thin 100', sans-serif;
}
/*--- who we are --*/
.section-boxset2{
    margin-top: 190px;
}
.section-box2-title {
    position: static;
}
.section-box2-title h2{
    font-size: 40px;
}
.section-box2-info {
    position: static;
}
.section-box2-info p{
    font-size: 18px;
    font-family: 'Roboto Thin 100', sans-serif;
}

.imgset-box2{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.sec-img2{
   margin-top: 40px;
}
.sec-img4{
    margin-top: 40px;
 }

 /*--- Experirance --*/
 .section-boxset3{
    margin-top: 130px;
}
.section-box3-title {
    width: 650px;
}
.section-box3-title h1{
    font-size: 40px;
}
.sectionset-box3-info1{
    display: flex;
    justify-content: space-between;
    width: 943px;
    align-items: center;
    margin-top: 40px;
}
.section-box3-info1 p{
    font-size: 18px;
    font-family: 'Roboto Thin 100', sans-serif;
    position: static;
}

.sectionset-box3-info2{
    display: flex;
    justify-content: space-between;
    width: 943px;
    align-items: center;
    margin-top: 90px;
}
.section-box3-info2 {
    padding-right: 30px;
    
}
.section-box3-info2 p{
    font-size: 18px;
    font-family: 'Roboto Thin 100', sans-serif;
    position: static;
}
 /*--- We are the leader --*/
 .section-boxset4{
    margin-top: 120px;
}
.section-box4-title h2{
    font-size: 40px;

}
.section-box4-info1{
    padding-top: 20px;
    font-size: 18px;
    font-family: 'Roboto Thin 100', sans-serif;
    position: static;
}
.section-boxset4-img-info{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}
.box4-img1{
    padding: 20px; 
}
.box4-img1-info p{
    font-size: 18px;
    font-family: 'Roboto Thin 100', sans-serif;
    position: static;
    text-align: center;
}

.box4-img2{
    padding: 20px; 
}
.box4-img2-info p{
    font-size: 18px;
    font-family: 'Roboto Thin 100', sans-serif;
    position: static;
    text-align: center;
}

.box4-img3{
    padding: 20px; 
}
.box4-img3-info p{
    font-size: 18px;
    font-family: 'Roboto Thin 100', sans-serif;
    position: static;
    text-align: center;
}
 /*--- Featured listings --*/
 .sectionset-box5-1{
     display: flex;
     justify-content: space-between;
     padding-top: 130px;
 }
 .box5-header1 h2{
     font-size: 40px;
 }

 .box5-view1 {
    display: flex;
    width: 181px;
    height: 52px;
    align-items: center;
    border: 1px solid #333333;
    padding: 10px 15px 0px 10px;
    justify-content: space-between;
}
 .box5-view1 p{
     font-size: 18px;
     font-family: 'Roboto Thin 100', sans-serif;
 }
 .box5-view1-img{
     padding: 0px 0px 10px;
 }

/*-- Row 1 --*/
.box5-imgrowset1{
    display: flex;
    justify-content: space-between;
    position: static;
    margin-top: 30px;
}
 .box5-row1-info1{
     display: flex; 
     justify-content: space-between;  
 }
 /*-- img1 --*/
 .box5-img1-boxinfoall{
    width: 300px;
    margin-top: 20px;
 }
 .box5-header-img1 h1{
    color: black;
     font-size: 20px;
 }

 .box5-text-img1{
     display: flex;
     margin-top: 20px;
     
 }

 .box5-row1-info1-icon-img1{
    width: 20px;
    text-align: center;
    line-height: 35px;
 }
 .box5-info-img1{
    font-family: 'Roboto Thin 100', sans-serif;
    color: #828282;
    line-height: 35px;
    margin-left: 10px;
    margin-top: 5px;

 }
 /*-- img2 --*/
 .box5-img2-boxinfoall{
    width: 300px;
    margin-top: 20px;
 }
 .box5-header-img2 h1{
    color: black;
     font-size: 20px;
 }

 .box5-text-img2{
     display: flex;
     margin-top: 20px;
     
 }

 .box5-row1-info1-icon-img2{
    width: 20px;
    text-align: center;
    line-height: 35px;
 }
 .box5-info-img2{
    font-family: 'Roboto Thin 100', sans-serif;
    color: #828282;
    line-height: 35px;
    margin-left: 10px;
    margin-top: 5px;

 }

 /*-- img2 --*/
 .box5-img2-boxinfoall{
    width: 300px;
    margin-top: 20px;
 }
 .box5-header-img2 h1{
    color: black;
     font-size: 20px;
 }

 .box5-text-img2{
     display: flex;
     margin-top: 20px;
     
 }

 .box5-row1-info1-icon-img2{
    width: 20px;
    text-align: center;
    line-height: 35px;
 }
 .box5-info-img2{
    font-family: 'Roboto Thin 100', sans-serif;
    color: #828282;
    line-height: 35px;
    margin-left: 10px;
    margin-top: 5px;
 }
/*-- img2 --*/
.box5-img3-boxinfoall{
    width: 300px;
    margin-top: 20px;
 }
 .box5-header-img3 h1{
    color: black;
     font-size: 20px;
 }

 .box5-text-img3{
     display: flex;
     margin-top: 20px;
     
 }

 .box5-row1-info1-icon-img3{
    width: 20px;
    text-align: center;
    line-height: 35px;
 }
 .box5-info-img3{
    font-family: 'Roboto Thin 100', sans-serif;
    color: #828282;
    line-height: 35px;
    margin-left: 10px;
    margin-top: 5px;
 }
 /*-- Row 2 --*/
 .box5-imgrowset2{
    display: flex;
    justify-content: space-between;
    position: static;
    margin-top: 30px;
}
 .box5-row2-info1{
    display: flex; 
    justify-content: space-between;  
}
/*-- img4 --*/
.box5-img4-boxinfoall{
   width: 300px;
   margin-top: 20px;
}
.box5-header-img4 h1{
    color: black;
    font-size: 20px;
}

.box5-text-img4{
    display: flex;
    margin-top: 20px;
    
}

.box5-row2-info1-icon-img4{
   width: 20px;
   text-align: center;
   line-height: 35px;
}
.box5-info-img4{
   font-family: 'Roboto Thin 100', sans-serif;
   color: #828282;
   line-height: 35px;
   margin-left: 10px;
   margin-top: 5px;

}
/*-- img5 --*/
.box5-img5-boxinfoall{
   width: 300px;
   margin-top: 20px;
}
.box5-header-img5 h1{
    color: black;
    font-size: 20px;
}

.box5-text-img5{
    display: flex;
    margin-top: 20px;
    
}

.box5-row1-info1-icon-img5{
   width: 20px;
   text-align: center;
   line-height: 35px;
}
.box5-info-img5{
   font-family: 'Roboto Thin 100', sans-serif;
   color: #828282;
   line-height: 35px;
   margin-left: 10px;
   margin-top: 5px;

}

/*-- img6 --*/
.box5-img6-boxinfoall{
   width: 300px;
   margin-top: 20px;
}
.box5-header-img6 h1{
    color: black;
    font-size: 20px;
}

.box5-text-img6{
    display: flex;
    margin-top: 20px;
    
}

.box5-row1-info1-icon-img6{
   width: 20px;
   text-align: center;
   line-height: 35px;
}
.box5-info-img6{
   font-family: 'Roboto Thin 100', sans-serif;
   color: #828282;
   line-height: 35px;
   margin-left: 10px;
   margin-top: 5px;
}

/*-- Row 3 --*/
.box5-imgrowset3{
    display: flex;
    justify-content: space-between;
    position: static;
    margin-top: 30px;
}
 .box5-row3-info1{
    display: flex; 
    justify-content: space-between;  
}
/*-- img7 --*/
.box5-img7-boxinfoall{
   width: 300px;
   margin-top: 20px;
}
.box5-header-img7 h1{
    color: black;
    font-size: 20px;
}

.box5-text-img7{
    display: flex;
    margin-top: 20px;
    
}

.box5-row2-info1-icon-img7{
   width: 20px;
   text-align: center;
   line-height: 35px;
}
.box5-info-img7{
   font-family: 'Roboto Thin 100', sans-serif;
   color: #828282;
   line-height: 35px;
   margin-left: 10px;
   margin-top: 5px;

}
/*-- img8 --*/
.box5-img8-boxinfoall{
   width: 300px;
   margin-top: 20px;
}
.box5-header-img8 h1{
    font-size: 20px;
    color: black;
}

.box5-text-img8{
    display: flex;
    margin-top: 20px;
    
}

.box5-row1-info1-icon-img8{
   width: 20px;
   text-align: center;
   line-height: 35px;
}
.box5-info-img8{
   font-family: 'Roboto Thin 100', sans-serif;
   color: #828282;
   line-height: 35px;
   margin-left: 10px;
   margin-top: 5px;

}

/*-- img9 --*/
.box5-img9-boxinfoall{
   width: 300px;
   margin-top: 20px;
}
.box5-header-img9 h1{
    font-size: 20px;
    color: black;
}

.box5-text-img9{
    display: flex;
    margin-top: 20px;
    
}

.box5-row1-info1-icon-img9{
   width: 20px;
   text-align: center;
   line-height: 35px;
}
.box5-info-img9{
   font-family: 'Roboto Thin 100', sans-serif;
   color: #828282;
   line-height: 35px;
   margin-left: 10px;
   margin-top: 5px;
}
.btn-below-box5{
    margin-top: 100px;
    display: flex;
    width: 240px;
    height: 40px;
    justify-content: space-between;
    position: static;
    margin-left: 350px;
}
.box5-numberpages{
    font-size: 18px;
    letter-spacing: 20px;
    margin-top: 5px;
    margin-left: 10px;

}
/*-- Footer --*/
.footer-area{
	background-color: #333333;
    padding: 60px 0 0;
    margin-top: 100px;
}
.footer-content-area{
    width: 100%;
    display: flex;
    padding: 40px ;
    justify-content: space-between;   
}
.footer-company,
.footer-locations,
.footer-popularlinks,
.footer-ouroffices,
.footer-followus,
.footer-beintheknow,
h4,
h1{
    font-size: 24px;
    color: #ffffff;
} 
.footer-ouroffices p{
    font-size: 16px;
    color: #bbbbbb;
}
.footer-company-more,
.footer-locations-more,
.footer-popularlinks-more,
.footer-locations-more{
    margin-left: -20px;
    margin-top: 15px;
}
.footer-company-more,
.footer-locations-more,
.footer-popularlinks-more,
ul,
li,
 a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
    list-style-type: none;
	font-weight: 400;
	color: #bbbbbb;
	display: block;
	transition: all 0.5s ease;
}

.footer-company-more,
.footer-locations-more,
.footer-popularlinks-more,
ul,
li,
a:hover{
    color: #ffffff;
	padding-left: 8px;	
}
.social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #333333;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	color: #ffffff;
	transition: all 0.3s ease;
}
.social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 10px;
    font-size: 18px;
    margin-top: 10px;
}
#footer-email::placeholder{
    color: #bbbbbb;
}
#footer-email-btn{
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 100px;
    font-weight: 200;
    font-size: 16px;
}
#footer-email-btn:hover{
    cursor: pointer;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid white;
    transition: all 0.5 ease-out;
}
.footer-content-below-line{
    border: 1px solid #4B5B65;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px ;
}
.footer-below-line-term{
    display: flex;
    justify-content: space-between;
}
.footer-bottom-text1,
.footer-bottom-text2,
 h1{
    font-size: 16px;
    margin-bottom: 20px;
}
.footer-bottom-text1{
    margin-left: 40px;
    align-items: center;
}
.footer-bottom-text2{
    margin-right: 40px;
    align-items: center;
}


 